body
{
  background-color: #F2F2F2;
}
.title
{
  padding: 10px;
}
.sidebar
{
     
    width:25%;
    float: left;
    padding-top: 10px;
    margin: 0 auto;
    
}
.main-content
{
    
     
    float: left;
    padding-top: 10px;
    width:75%;
         
}

.filterbtn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
   
  border: 1px solid transparent;
  width: 40%;
  padding: 5px;
  background-color: #C5E09B; 
  border-radius: 2px;
  margin: 3px ;
  
}
.btnactive
{
  background-color: #7CBA01;
}
.filtertitle
{
  border-bottom: 1px solid #cccccc;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.grid
{
   width: calc(25% - 22px);
   float: left;
   margin: 5px;
   background-color: #fff;
   padding: 5px;
   border-radius: 4px;
   
 
}
.img-thumb
{
  width:100%;
  background-color : #ccc;
}
.filterpanel
{
  background-color: #fff;
  margin: 5px;
  padding: 5px;
   border-radius: 4px;
}
.footer
{
  text-align: center;
  padding: 30px 0;
 
}
@media (max-width:900px) and (min-width:400px) {


}
@media (max-width:1024px) and (min-width:700px) {
  .grid
  {
     width: calc(50% - 22px);
     float: left;
     margin: 5px;
     background-color: #fff;
     padding: 5px;
     border-radius: 4px;
     height: 500px;
   
  }
  .title
{
  padding: 10px;
  text-align: center;
}

}
@media (max-width:700px)  {
  .sidebar
{
     
    width:100%;
    float: none;
    padding-top: 10px;
    margin: 0 auto;
    
}
.main-content
{
    
     
    float: none;
    padding-top: 10px;
    width: 100%;
         
}
  .grid
  {
     width: calc(100% - 22px);
     float: none;
     margin: 5px;
     background-color: #fff;
     padding: 5px;
     border-radius: 4px;
     height: auto;
   
  }
  .title
  {
    padding: 10px;
    text-align: center;
  }

}